*{
    font-family: 'Space Grotesk', sans-serif;
}
header{
    background-color: #fff159;
    width: 100%;
    height: 120px;
}
.container-fluid{
    background-color: #fff159 ;
}
.logo{
    text-align: center;
    margin-top: 30px;
}
.buscador{
    margin-top: 10px;
    text-align: center;
    background-color: white;
    border: white;
}
.point{
    width: 350px;
    padding-top: 6px;
}
.ubicacion{
    padding-left: 60px;
  
}
.navegador{
    display: flex;
}
.opciones{
     margin-left: 118px; 
     background:#fff159;
    font-size: 12px;
}
.opcionesNav{
    
    background:#fff159 ;
}
.{
    background-color: white;
    border: white;
}
.lupa{
    width: 25px;
    background-color: white;
}
.compra{
    margin-left: 118px; 
    background:#fff159;
   font-size: 12px;
}
.carro{
    margin-left: -15px;
    margin-top: -7px;
}
.container{
    padding-top: 30px;
   
}
section{
    width: 100%;
    height: 200px;
    background-color:#e9ecef ;

}
img, svg{
    float: left;
}
.tarjetas {
    font-size: 19px;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}
.menuDePago{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    border: solid white 2px;
    box-shadow: 1px 1px 1px gray;
    background: white;
}
.mediosdp{
    font-size:15px;
    text-decoration: none;
 
}
.contenedorCompra{
    display: flex;
    margin: 20px;
}
.historial{
    margin-left: 30px;
    margin-top: 6px;
}
.container-md{
    display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   align-items: center; 
    
}
.card{
    width: 100%;
    height: 500px;
    background-color: white !important;
    border: 0.5px solid black !important;
    margin: 5px;
    text-align: center;
}
.card-img-top{
    width: 50px;
}
.btn-primary{
    margin-top: 20px;
}